	// Some colors
	@background-color: #eee;
	@white: white;
	@black: #1F1F1F;
	@light-grey: #C0C0C0;
	@dark-grey: #9b9b8e;
	@body-grey: #57554a;

	// some basic overrides 
	body {
		background-color:#eeeeee;
	}
	.container {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	h1 {
		color: black;
	}

	hr {
		border-color: @light-grey;
	}

	hr.white {
		border-color: @white;
	}

	.center {
		margin: 0 auto;
		text-align: center;
		display: block;
	}

	.loadingRepos {
		display: block;
		img, p {
			display: inline;
		}
		img {
			padding-right: 0.3em;
		}
	}

	// Mobile first styles 

	@media (max-width: 767px) {
    	.larry-the-bird {
    		padding-top: 30px !important;
    		width: 50px !important;
    	}

    	.box {
    		margin-bottom: 15px;
    	}

    	.info-header h1 {
    		font-size: 30px;
    	}

    	.avatarUrl {
    		width: 80px !important;
    		.center();
    	}
	}

	// some enhancements

	.shadow {
	-webkit-box-shadow: 0 0 10px rgba(50, 50, 50, 0.1);
	-moz-box-shadow: 0 0 10px rgba(50, 50, 50, 0.1);
	box-shadow: 0 0 10px rgba(50, 50, 50, 0.1);
	} 
	.bg-white {
		background-color: @white;
	}

	.box {
		min-height: 235px;
		h4 {
    	.toUppercase();
    	}
	}


    .avatarUrl {
    	width: 100px;
    	padding-bottom: 5px;
    	.center();
    }

    .avatarUrl:hover {
		opacity: 0.8;
    }

	// The top info header styles
	.info-header {
		hr {
			margin-top: 40px;
			margin-bottom: 40px;
		}
		h1 {
			color: @black;
		}
	}

	.larry-the-bird {
		padding-top: 15px;
		width:70px;
	}

	// The hero section
	.hero-box {
		padding: 37px 33px 27px 33px;

		hr {
			margin-bottom: 0px;
		}
	}

	.github-social-logo {
		margin: 0 auto;
	}

	// The Repo Box layout 

	.repos {
		color: @dark-grey;
		h3 {
			text-transform: uppercase;
		}
	}

	.colMargins {
		// margin: 0;
		.box {
			color: @body-grey;
			.shadow();
			.bg-white();
			vertical-align: top;
			padding: 10px;
				h4 {
					margin-top:0;
				}
		}
	}


	.toUppercase {
		text-transform: uppercase;
	}



